.container-seats{
    border:2px solid 
}
.header-bookticket{
    width:100%;
    background:black;
    color:aliceblue;
}
.seats {
    /* background-color: rgb(43, 39, 39); */
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
 
  .screens {
   
    background-color: black;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .screen {
    color: red;
    width: 100%;
    height: 250px;
  }
 
  
  .seat-select {
    font-size: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .seats-select {
    font-size: 20px;
    margin-left: 20px;
  }
  .price {
    font-size: 20px;
  }
  .totalprice {
    margin-left: 50%;
  }

.seat{
    width:60px;
    height:60px;
}
.show-price{
    background:grey;
    width:100%;
}
.seat-continue{
    background:red;
    color:white;
    border:0;
    border-radius: 5px;
    
}